*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin: 133px 40px;
}

.result {
  margin-bottom: 5px;
}

.result__video-container {
  height: 100%;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
}

.content__details {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list {
  margin-top: 0;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 200px;
  height: 103px;
}

.content__video-card-description-container {
  width: 50%;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

.preloader {
  position: absolute;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.search-form__label {
  width: fit-content;
  border: none;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*cursor: pointer; on clickable elements*/

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding-left: 0;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:hover {}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  background-color: transparent;
}

input[type='checkbox']:checked+.search-form__pseudo-checkbox {
  background-color: #fff;
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 2px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  line-height: normal;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: calc(100% - 4px);
  margin: 2px 2px 5px 2px;
  height: 34px;
}